.contact {
	.address {
		float: right;
	}
	
	.contact-miscinfo {
		dd {
			margin-left: 0;
		}
		
	}

	.contact-position {
		margin: 0;
	}
}


@media only screen and (max-width: 820px) {
	.contact {
		.address {
			float: none;
			margin-bottom: 40px;
			
			dd {
				margin-left: 0;
			}
		}
		
		.contact-miscinfo {
			margin-bottom: 40px;
		}
	
	}
}

.contact-form fieldset:nth-child(2) {
    border: none;
}